.app {
  margin: 50px;
}
.graph {
  border-radius: 5px;
  box-shadow: 0 12px 5px -10px rgba(0, 0, 0, 0.1), 0 0 4px 0 rgba(0, 0, 0, 0.1);
}
.toolbar {
  margin-bottom: 16px;
}
.ant-checkbox-wrapper {
  margin-right: 8px;
}
